NYLONPAY_API_KEY=REPLACE_WITH_YOUR_NYLONPAY_API_KEY
NYLONPAY_API_SECRET=REPLACE_WITH_YOUR_NYLONPAY_API_SECRET
NYLONPAY_WEBHOOK_SECRET=REPLACE_WITH_YOUR_NYLONPAY_WEBHOOK_SECRET
EMAIL_USER=REPLACE_WITH_YOUR_EMAIL_ADDRESS
EMAIL_PASSWORD=REPLACE_WITH_YOUR_EMAIL_APP_PASSWORD
